<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ryan's Portfolio</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav class="flex  justify-center align-center ">
        <a href="/">Home</a>
        <a href="/portfolio">Portfolio</a>
        <a href="/contact">Contact</a>
    </nav>
    <div class="window">
        {{{body}}}
    </div>

    <footer>
        ryan.co
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</body>

</html>