<div style="background:url({{{image1}}})" class="window parallax">
    <h1 class="banner">Hello</h1>
</div>
<div style="background:url({{{image2}}})" class="window parallax">
    <div class="banner">
        <h1 >Hello</h1>
    </div>
</div>