body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  color: #333;
}

.window {
  min-height: 100vh;
  min-width: 100vw;
}

.window.parallax {
  background-attachment: fixed!important;
  background-repeat: no-repeat!important;
  background-size: cover!important;
}

.banner {
  width: 100vw;
  text-align: left;
  background: rgba(256, 256, 256, 0.7);
  padding: 20px 20px;
}

.flex {
  display: flex;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}
